.pokemon_list{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}

.load_more{
    margin-top: 1rem;
    padding: .5rem;
    width: 30%;
    min-width: 5rem;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    border-radius: .5rem;
}

.load_more_light{
    background: var(--white);
    color: var(--primary-gray);

    &:hover{
        background: var(--primary-red);
        color: var(--white);
    }
}

.load_more_dark{
    background: var(--secondary-gray);
    color: var(--white);

    &:hover{
        background: var(--primary-navy);
        color: var(--white);
    }
}