.filters{
    display: flex;
    padding: 1rem;
    background: var(--primary-light-gray);
    border: 1px solid var(--primary-gray);
    border-top: none;
    border-radius: 0 0 .5rem .5rem;
    width: var(--content-width);
    max-width: var(--content-max-width);
}