@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  font-size: 16px;

// Colors
  --primary-gray: #423b3b;
  --primary-red: #ff6b57;
  --primary-light-gray: #dbdbdb;
  --white: #ffffff;

// Sizes
  --content-width: 70%;
  --content-max-width: 1000px;

}

html{
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-light-gray) var(--white);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: .5rem;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  border-radius: .25rem;
  background-color: var(--primary-light-gray);
}